body{
    font: size 16px;
    background-color:aquamarine;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#header-nav{
    background-color: rgb(33, 128, 165);
    border-radius: 0;
    border: 1px solid;
    }

.navbar-brand h1 { /* Restaurant name */
    color:white;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    font-size: 1.5em;   
}
.container-fluid{
    padding:0

}
/*menu items*/
.item-title{
    font-size: 1.8em;
    padding-top: .5em;
}
section{
    background-color:cornflowerblue;
    margin-bottom: 2em;
    border: 5px solid aquamarine;

}
.description{
    padding: 0% 2% 2%;
}
#collapsable-nav{
    background-color:rgb(29, 185, 76);
    
}
#our-menu{
    margin-bottom: 2%;
}
